<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
</head>

<body>
    <header class="main-header">
        <h1>My Website</h1>
        <nav>
            <ul>
                <li><a routerLink="/">Login</a></li>
                <li><a routerLink="register-account">Register</a></li>
                <li><a routerLink="mainpage">MainPage</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>